html {
    scroll-snap-type: block mandatory;
        scroll-behavior: smooth;
}

section {
    scroll-snap-align: start none;
    scroll-snap-stop: always;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

* {
    font-family: 'Poppins';
}

header {
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: center; 
    width: 100%; 
}

li {
    display: flex;
    gap: 20px;
    padding: 0 10px;
}

ul {
    padding: 5px;
}

ul:hover {
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
    color: black;
}

#inicio, #sobre-mim {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#inicio .introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#inicio .introducao h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

button {
    width: 100%;
}

img {
    height: 500px;
    width: 500px;
}

.mini-biografia {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}